.wrap {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #FAFAFA;

}

.flex{
    display: flex
}

/* 모바일 (최대 너비 767px까지 적용) */
@media (max-width: 767px) {

    .wrap{
        padding-bottom: 130px;
    }


    header {
        width: 100%;
        height: 65px;
        justify-content: space-between;
        padding: 0 30px;
        align-items: center;
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    /*header .logout {*/
    /*    display: none;*/
    /*}*/

    header h1 {
        width: 130px;
    }

    header .hamburger {
        display: block;
        background-color: var(--main-color1);
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    header .hamburger span {
        width: 23px;
        height: 1px;
        background-color: #fff;
        margin: 3px 0;
        display: block;
        transition: .4s;
    }

    header .hamburger span.on:nth-child(2) {
        display: none;
    }

    header .hamburger span.on:nth-child(1) {
        transform: rotate(45deg) translate(2px, 2px);
    }

    header .hamburger span.on:nth-child(3) {
        transform: rotate(-45deg) translate(2px, -3px);
    }

    header h1 a {
        display: flex;
        height: 100%;
        align-items: center;
    }

    header h1 a img {
        width: 100%;
    }

    header .menu {
        display: none;
    }


    header .login,
    header .logout {
        display: none;
    }

    .ham-menu {
        position: fixed;
        top: 65px;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: .4s;
    }

    .ham-menu.on {
        right: 0;
    }

    .ham-menu .menu-list {
        width: 85%;
        margin: auto;
        margin-top: 50px;
    }

    .ham-menu .menu-list li {
        border-bottom: 1px solid #d7d7d7;
        padding: 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .ham-menu .ham-logout {
        display: none;
    }

    .ham-menu .ham-logout,
    .ham-login {
        width: 85%;
        margin: 5cqb auto;
    }

    .ham-menu .ham-logout li,
    .ham-login li {
        margin: 10px 0;
    }



    .header {
        background: url('../../image/idSearchImg.png') no-repeat center center;
        background-size: cover;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .header h1 {
        width: 250px;
    }

    .header h1 img {
        width: 100%;
    }

    .header p {
        margin-top: 20px;
    }

    .card {
        background: white;
        width: 91%;
        margin: -100px auto 0;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card h2 {
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: 500;
    }

    .card a {
        display: inline-block;
        font-size: 20px;
        color: #0072ff;
        text-decoration: none;
        margin-bottom: 10px;
    }

    .card .date {
        font-size: 14px;
        color: #777;
        margin-bottom: 30px;
    }


    .form-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    .form-row p{
        font-size: 13px;
        width: 90%;
        margin: auto;
        text-align: start;
        color: #ef6533;
        margin-bottom: 10px;
    }
    


    .form-row label {
        margin-left: 20px;
        font-weight: bold;
        margin-top: 10px;
        line-height: 1.6;
    }

    .form-row input[type="text"],
    .form-row input[type="password"],
    .form-row input[type="email"] {
        flex: 1;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 90%;
        margin: auto;
    }


    .card .buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }


    .btn-secondary {
        background-color: rgb(0, 0, 0);
        color: #fff;
    }

    .card button {
        width: 230px;
        padding: 15px 0;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }



    /* --------footer----------- */
    footer {
        width: 100%;
        background-color: #D9D9D9;
        align-items: center;
        justify-content: space-between;
        padding: 20px 50px;
        flex-direction: column;
    }

    footer p {
        margin: 20px 0;
        font-size: 14px;
    }

    footer .footer-logo {
        width: 100%
    }

    footer .footer-logo img {
        width: 250px;
    }



}



/* PC (데스크탑) 버전 */
@media (min-width: 768px) {
    .ham-menu {
        display: none;
    }

    header {
        width: 100%;
        min-width: 1200px;
        height: 80px;
        justify-content: space-between;
        padding: 0 80px;
        align-items: center;
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    /*header .logout {*/
    /*    display: none;*/
    /*}*/

    header h1 {
        width: 170px;
    }

    header .hamburger {
        display: none;
    }

    header h1 a {
        display: flex;
        height: 100%;
        align-items: center;
    }

    header h1 a img {
        width: 100%;
    }

    header .menu {
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        border-radius: 50px;
        gap: 50px;
        padding: 20px 40px;
        min-width: 548px;
    }


    header .login,
    header .logout {
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 50px;
        align-items: center;
        border-radius: 50px;
        gap: 50px;
        padding: 20px;
        min-width: 186px;
    }




    .wrap{
        height: 110vh;
    }


    .header {
        background: url('../../image/idSearchImg.png') no-repeat center center;
        background-size: cover;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .header h1 {
        width: 300px;
    }

    .header h1 img {
        width: 100%;
    }

    .header p {
        font-size: 20px;
        margin-top: 30px;
    }

    .card {
        background: white;
        max-width: 650px;
        margin: -130px auto 0;
        padding: 60px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card h2 {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 500;
    }

    .card h2 br{
        display: none;
    }

    .card a {
        display: inline-block;
        font-size: 20px;
        color: #0072ff;
        text-decoration: none;
        margin-bottom: 15px;
    }

    .card .date {
        font-size: 14px;
        color: #777;
        margin-bottom: 10px;
    }

    .card .buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }


    .btn-secondary {
        background-color: rgb(0, 0, 0);
        color: #fff;
        margin-top: 20px;
    }


    .card button {
        width: 230px;
        padding: 15px 0;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    .form-row p{
        font-size: 14px;
        width: 90%;
        margin: auto;
        text-align: start;
        color: #ef6533;
        margin-bottom: 10px;
    }
    


    .form-row label {
        margin-left: 30px;
        font-weight: bold;
        margin-top: 10px;
        line-height: 1.6;
    }

    .form-row input[type="text"],
    .form-row input[type="password"],
    .form-row input[type="email"] {
        flex: 1;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 90%;
        margin: auto;
    }




    /* --------footer----------- */
    footer {
        width: 100%;
        height: 250px;
        background-color: #D9D9D9;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
    }

    footer p {
        margin: 20px 0;
    }

    footer .footer-logo {
        width: 300px;
    }

    footer .footer-logo img {
        width: 100%;
    }



}