<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/user/info.css">
</head>
<body>
    <div th:replace="include/header :: headerFragment"></div>
    <div class="wrap">
      <div class="info">
          <img src="../image/workletInfo.jpg">
      </div>
    </div>
    <div th:replace="include/footer :: footerFragment"></div>

    <script src="../css/js/header.js"></script>
</body>
</html>