<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project2.worklet.jobPostingService.JobPostingMapper">

    <select id="selectSeqMax" resultType="int">
        select max(emp_seq_no) from job_postings
    </select>

    <insert id="postList" parameterType="com.project2.worklet.component.JobPostingVO2">
        insert into job_postings (emp_seq_no,
        emp_wanted_title,
        emp_busi_nm,
        emp_wanted_stdt,
        emp_wanted_endt,
        emp_wanted_type_nm,
        reg_log_img_nm,
        emp_wanted_homepg_detail,
        is_open   )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.empSeqNo},
            #{item.empWantedTitle},
            #{item.empBusiNm},
            #{item.empWantedStdt},
            #{item.empWantedEndt},
            #{item.empWantedTypeNm},
            #{item.regLogImgNm},
            #{item.empWantedHomepgDetail},
             "N"
            )
        </foreach>
    </insert>

    <insert id="postDetail" parameterType="com.project2.worklet.component.JobPostingDetailVO">
        insert into job_postings_detail (emp_seq_no,
            emp_recr_nm,
            emp_wanted_career_nm,
            work_region_nm,
            jobs_cd,
            jobs_cd_kor_nm)
            values
                <foreach collection="list" item="item" separator=",">
                    (
                    #{item.empSeqNo},
                    #{item.empRecrNm},
                    #{item.empWantedCareerNm},
                    #{item.workRegionNm},
                    #{item.jobsCd},
                    #{item.jobsCdKorNm}
                    )
                </foreach>
    </insert>

    <select id="getList" resultType="com.project2.worklet.component.JobPostingVO2">
        SELECT j1.emp_seq_no, j1.emp_wanted_title, j1.emp_busi_nm, j1.emp_wanted_stdt, j1.emp_wanted_endt, j1.emp_wanted_type_nm, j1.reg_log_img_nm, j1.emp_wanted_homepg_detail,
        c.emp_recr_nm, c.emp_wanted_career_nm, c.work_region_nm,
        CASE
            WHEN mc.emp_seq_no IS NOT NULL THEN true
            ELSE false
            END AS is_scrapped

        from job_postings as j1
                right join (
                select emp_seq_no, emp_recr_nm, emp_wanted_career_nm, work_region_nm, jobs_cd, jobs_cd_kor_nm, secondary_category_num, secondary_category_name
                from job_postings_detail as j2
                left join category as c1
                on j2.jobs_cd = c1.tertiary_category_num
                ) as c
            on j1.emp_seq_no = c.emp_seq_no

        LEFT JOIN my_calendar mc ON j1.emp_seq_no = mc.emp_seq_no
            <if test="userId != null || userId != ''">
                AND mc.user_id = #{userId}
            </if>

            WHERE  <![CDATA[ curdate() <= j1.emp_wanted_endt ]]>
            <if test="cri.searchJob != null and cri.searchJob.size() > 0">
                AND c.secondary_category_num IN
                <foreach item="job" collection="cri.searchJob" open="(" separator="," close=")">
                    #{job}
                </foreach>
            </if>
            <if test="cri.searchRegion != null and cri.searchRegion.size() > 0">
                AND (
                <foreach item="region" collection="cri.searchRegion" open="" separator=" OR " close="">
                    <if test="region == '전국'">
                        1 = 1
                    </if>
                    <if test="region != '전국'">
                        c.work_region_nm LIKE CONCAT(#{region}, '%')
                    </if>
                </foreach>
                )
            </if>
        order by j1.emp_seq_no desc
        limit #{cri.pageStart}, #{cri.count};

    </select>

    <select id="getTotal" resultType="int">
        select count(*) from job_postings as j1
                right join (
                select emp_seq_no, emp_recr_nm, emp_wanted_career_nm, work_region_nm, jobs_cd,
                       jobs_cd_kor_nm, secondary_category_num, secondary_category_name
                from job_postings_detail as j2
                left join category as c1
                on j2.jobs_cd = c1.tertiary_category_num
                ) as c
            on j1.emp_seq_no = c.emp_seq_no
            where <![CDATA[ curdate() <= j1.emp_wanted_endt ]]>
                <if test="searchJob != null and searchJob.size() > 0">
                    AND c.secondary_category_num IN
                    <foreach item="job" collection="searchJob" open="(" separator="," close=")">
                        #{job}
                    </foreach>
                </if>
                <if test="searchRegion != null and searchRegion.size() > 0">
                    AND (
                    <foreach item="region" collection="searchRegion" open="" separator=" OR " close="">
                        <if test="region == '전국'">
                            1 = 1
                        </if>
                        <if test="region != '전국'">
                            c.work_region_nm LIKE CONCAT(#{region}, '%')
                        </if>
                    </foreach>
                    )
                </if>
    </select>

    <select id="getRecentJobPostings" resultType="JobPostingVO2">
        SELECT emp_wanted_title, emp_wanted_stdt, emp_wanted_homepg_detail
        FROM job_postings
        ORDER BY emp_wanted_stdt DESC
            LIMIT 6
    </select>



    <insert id="scrapJob" parameterType="String">
        insert into my_calendar values(#{userId}, #{empNo})
    </insert>

    <delete id="unscrapJob" parameterType="String">
        delete from my_calendar where user_id = #{userId} and emp_seq_no = #{empNo}
    </delete>

    <select id="getJobPostingForSwipe" resultType="com.project2.worklet.component.JobPostingVO2">
        SELECT j1.emp_seq_no, j1.emp_wanted_title, j1.emp_busi_nm, j1.emp_wanted_stdt, j1.emp_wanted_endt, j1.emp_wanted_type_nm,
        j1.reg_log_img_nm, j1.emp_wanted_homepg_detail,
        c.emp_recr_nm, c.emp_wanted_career_nm, c.work_region_nm,
        CASE WHEN mc.emp_seq_no IS NOT NULL THEN true ELSE false END AS is_scrapped
        FROM job_postings AS j1
        RIGHT JOIN (
        SELECT emp_seq_no, emp_recr_nm, emp_wanted_career_nm, work_region_nm, jobs_cd, jobs_cd_kor_nm, secondary_category_num, secondary_category_name
        FROM job_postings_detail AS j2
        LEFT JOIN category AS c1 ON j2.jobs_cd = c1.tertiary_category_num
        ) AS c ON j1.emp_seq_no = c.emp_seq_no
        LEFT JOIN my_calendar mc ON j1.emp_seq_no = mc.emp_seq_no

        WHERE <![CDATA[ curdate() <= j1.emp_wanted_endt ]]>
        <if test="cri.searchJob != null and cri.searchJob.size() > 0">
            AND c.secondary_category_num IN
            <foreach item="job" collection="cri.searchJob" open="(" separator="," close=")">
                #{job}
            </foreach>
        </if>
        <if test="cri.searchRegion != null and cri.searchRegion.size() > 0">
            AND (
            <foreach item="region" collection="cri.searchRegion" open="" separator=" OR " close="">
                <if test="region == '전국'">
                    1 = 1
                </if>
                <if test="region != '전국'">
                    c.work_region_nm LIKE CONCAT('%', #{region}, '%')
                </if>
            </foreach>
            )
        </if>
        ORDER BY j1.emp_seq_no DESC
        LIMIT #{cri.pageStart}, 6;
    </select>



</mapper>




<!--getList 수정 전-->
<!--        select j1.emp_seq_no, j1.emp_wanted_title, j1.emp_busi_nm, j1.emp_wanted_stdt,-->
<!--        j1.emp_wanted_endt, j1.emp_wanted_type_nm, j1.reg_log_img_nm, j1.emp_wanted_homepg_detail,-->
<!--        c.emp_wanted_career_nm, c.work_region_nm, c.emp_recr_nm from job_postings as j1-->
<!--        right join (-->
<!--        select emp_seq_no, emp_recr_nm, emp_wanted_career_nm, work_region_nm, jobs_cd, jobs_cd_kor_nm, secondary_category_num, secondary_category_name-->
<!--        from job_postings_detail as j2-->
<!--        left join category as c1-->
<!--        on j2.jobs_cd = c1.tertiary_category_num-->
<!--        ) as c-->
<!--        on j1.emp_seq_no = c.emp_seq_no-->
<!--        where 1=1  and (-->
<!--<if test="searchRegion1 == '' or searchRegion1 == null">-->
<!--1 = 1-->
<!--</if>-->
<!--<if test="searchRegion1 != '' and searchRegion1 != null">-->
<!--c.work_region_nm like concat('%', #{searchRegion1}, '%')-->
<!--</if>-->
<!--<if test="searchRegion2 != '' and searchRegion2 != null">-->
<!--or c.work_region_nm like concat('%', #{searchRegion2}, '%')-->
<!--</if>-->
<!--<if test="searchRegion3 != '' and searchRegion3 != null">-->
<!--or c.work_region_nm like concat('%', #{searchRegion3}, '%')-->
<!--</if>-->
<!--        ) and (-->
<!--<if test="searchJob1 == '' or searchJob1 == null">-->
<!--1 = 1-->
<!--</if>-->
<!--<if test="searchJob1 != '' and searchJob1 != null">-->
<!--c.secondary_category_num = #{searchJob1} or c.jobs_cd = #{searchJob1}-->
<!--</if>-->
<!--<if test="searchJob2 != '' and searchJob2 != null">-->
<!--or c.secondary_category_num = #{searchJob2} or c.jobs_cd = #{searchJob2}-->
<!--</if>-->
<!--<if test="searchJob3 != '' and searchJob3 != null">-->
<!--or c.secondary_category_num = #{searchJob3} or c.jobs_cd = #{searchJob3}-->
<!--</if>-->
<!--        )-->

<!--        order by j1.emp_seq_no desc-->
<!--        limit #{pageStart}, #{count}-->